@{
    ViewBag.Title = "О нас";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Информация об ИРИТ-РТФ</h2>

<p>
    <b>НАПРАВЛЕНИЯ ПОДГОТОВКИ:</b>
</p>
<p>
    <b>Квалификации: бакалавр (профиль)</b>
</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/MOAIS-02_03_03.doc" title="Начинается скачивание файла" class="download">02.03.03</a> —&nbsp;Математическое обеспечение и администрирование&nbsp;информационных систем</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/RT_11_03_01.docx" title="Начинается скачивание файла" class="download">11.03.01</a> — Радиотехника (радиотехнические средства передачи, приема и обработки сигналов)<span id="1395998765793S">&nbsp;</span></p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Obshee/TK-210700.doc" title="Начинается скачивание файла" target="_self" class="download">11.03.02</a> — Инфокоммуникационные технологии и системы связи (системы мобильной связи; сети связи и системы коммутации)</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/KR-211000.doc" title="Начинается скачивание файла" class="download">11.03.03</a> — Конструирование и технология электронных средств </p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/Avtomatika_-_27_03_04.docx" title="Начинается скачивание файла" class="download">27.03.04</a> — Управление в технических системах&nbsp;(Управление и информатика в технических системах)</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Obshee/IVT-230100.doc" title="Начинается скачивание файла" target="_self" class="download">09.03.01</a> — Информатика и вычислительная техника (автоматизированные системы обработки информации и управления; вычислительные машины, комплексы, системы и сети: аналитика и программирование)</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/IST-09_03_02.doc" title="Начинается скачивание файла" class="download">09.03.02</a> — Информационные системы и технологии</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/TPUP-29_03_03.doc" title="Начинается скачивание файла" class="download">29.03.03</a> — Технология полиграфического и упаковочного производства </p>
<p class="align-justify">&nbsp;<b>Квалификации: специалист, инженер</b></p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/TOR_10_05_02.docx" title="Начинается скачивание файла" class="download">10.05.02</a> — Информационная безопасность телекоммуникационных систем</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Obshee/Reklamnyi_buklet_REHSK_11.05.01.doc" title="Начинается скачивание файла" class="download">11.05.01</a> — Радиоэлектронные системы и комплексы</p>
<p class="align-justify"><b>Квалификация: магистр</b></p>
<p class="align-justify">20 образовательных программ</p>
<p class="align-justify"><a href="http://rtf.urfu.ru/fileadmin/Dokumenty/magistratura.rar" title="Начинается скачивание файла" target="_blank" class="download">Магистратура</a> / <a href="http://rtf.urfu.ru/fileadmin/Dokumenty/Postuplenie/Raspisanie_ehkzamenov_v_magistraturu_IRIT.doc" title="Начинается скачивание файла" class="download">Расписание вступительных экзаменов</a><span id="1395999963375S" style="display: none;">&nbsp;</span></p>

