@{
    ViewBag.Title = "Контакты";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Контакты</h2>

<address>
    Институт радиоэлектроники и информационных технологий<br />
    ул. Мира 32<br />
    Екатеринбург, Российская Федерация<br />
    <abbr title="Телефон:">Т:</abbr>
    (343) 375-41-65
</address>

<address>
    <strong>Отдел по работе со студентами:</strong>   <a href="mailto:dekanat@rtf.ustu.ru">dekanat@rtf.ustu.ru</a><br />
</address>