@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>ИРИТ-РТФ</h1>
    <p class="lead">Институт радиоэлектроники и информационных технологий</p>
    <p><a href="http://rtf.urfu.ru/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>История института</h2>
        <p>
            Основные этапы развития радиотехнической инженерной подготовки на Среднем Урале можно проследить на примере развития ИРИТ-РТФ.
        </p>
        <p><a class="btn btn-default" href="http://rtf.urfu.ru/index.php?id=385">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Направления и специальности</h2>
        <p>Институт предлагает обучение по более, чем десяти направлениям.</p>
        <p><a class="btn btn-default" href="http://rtf.urfu.ru/index.php?id=347">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>РТФ-News</h2>
        <p>Визитных карточек у радиофака, как известно, множество. И, вне всякого сомнения, особый колорит радистам придает их собственная газета – их любимая «РтФ News».</p>
        <p><a class="btn btn-default" href="http://rtf.urfu.ru/index.php?id=416">Узнать больше &raquo;</a></p>
    </div>
</div>