body	{
	background-color: #ecebe8;
}

canvas	{
	width: 1024px; 
	height: 720px;
    border-radius: 6px;
	border: 1px solid black;
	padding: 15px;
	position: absolute;
}

footer	{
	text-align: center;
	font-size: 12px;
	color: #888;
	margin-top: 24px;
	position: relative;
	top: 95%;
}

aside	{
	position: fixed;
	top: 15px;
	float: right;
	right: 0;
	margin: 7px 10px;
	background: #f6f5f4;
	width: 22%;
	text-align: center;
	border-radius: 8px;
	border: 3px solid #e5e5e5;
}